*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


@import url('https://fonts.googleapis.com/css?family=Hind:300,400');

::-webkit-scrollbar{
    width:0px;
}

nav{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #ffffff;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    
}
.logo{
    display: flex;
    

}
.logo h1{
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: #2F3542;
}
span{
    color: #2ED573;
    
}
.logo h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    padding: 10px 30px;
}

/*menu list*/
.menu-icon{
    width: 40px;
    display: none;
}
.menu ul{
    display: flex;
    margin-top: -20px;
    
}
.menu ul li{
    list-style: none;
    padding: 10px ;
}
.menu ul li a{
    text-decoration: none;
    padding: 0 30px;
    color: #2F3542;
    transition: 0.5s;
}

#active{
    color: #2ED573;
}
#active-home{
    background-color: #2ED573;
    height: 42px;
}
.active-home:hover{
    color: #2ED573;
}

img{
    width: 50%;
}
h1{
    font-size: 60px;
}

.container{
    width: 100%;
    background-color: #F1F2F6;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.title h1{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 85px;
    text-align: left;
    padding: 30px 5%;

}
.imge{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.pack-1{
    background: linear-gradient(91.37deg, rgba(0, 0, 0, 0.5) 0%, rgba(82, 82, 82, 0.5) 100.11%);
    border-radius: 2px;
    margin: 20px 3%;
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}
.head{
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    flex-wrap: wrap;
    flex-basis: 40%;
}
.head h1{
    /* padding-right: 2em; */
}
.head p{
    padding-bottom: 20px;
}
.head h2{
    font-size: 20px;
    font-weight: 400;
}
.p-list{
    padding: 50px;
    flex-basis: 60%;

}
.p-list ul{
    flex-wrap: wrap;
    display: flex;
    color: white;
}

.package{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    color: #fff;
    position: relative;
    padding: 0 3% 100px 3%;    
}
.package-1 .imge{
    padding: 30px 0;
}
.package-1{
    padding: 50px 20px;
    background: linear-gradient(180deg, #FDC624 0%, #E6C434 99.36%);
    border-radius: 5px;
    width: 100%;

}
.package-2{
    padding: 45px 20px;
    background: linear-gradient(180deg, #55DCE7 0%, #3DCAD4 100%);
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.package-3{
    padding: 50px 20px;
    background: linear-gradient(180deg, #6BDFFF 0%, #3DACFC 100%);
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.package-3 h6{
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: #00000017;
    margin-top: -30px;
}
.package-4{
    padding: 50px 20px;
    background: linear-gradient(180deg, #BFCEDC 0%, #939FB3 100%);
    border-radius: 5px;
    flex-basis: 10%;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.package h2{
    font-size: 30px;
}
.package h3{
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 50px;

}
.package-1, .package-2, .package-3, .package-4{
    height: 100%;    
    position: relative;
}
ul{
    padding-bottom: 20px;
}
ul li{
    display: flex;
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
}
h5{
    font-size: 17px;
    font-weight: 600;
}
.accordion a h5{
    width: 74%;
}
button a{
    color: #fff;
}
button{
    position: absolute;
    margin-top: 100px;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 8px;
    display:flex ;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    width: 90%;
    text-align: center;
    align-items:center ;
    justify-content: center;
    bottom: 22px;
    cursor: pointer;

}
.fa-solid{
    padding-right: 10px;
    padding-top: 3px;
}

.title p{
    font-family: 'Poppins'; 
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    padding: 30px 5%;

}
p{
    font-size: 30px;
}
h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    width: 80%;
    margin-left: 100px;
    padding: 30px 0;
}
.toy-one{
    margin-top: 133px;
}


h3 {
    font-size: 1.75rem;
    color: #ffffff;
    margin: 0;
  }


  .accordion{
    height: 400px;
    overflow-y: scroll;
  }
  .accordion::-webkit-scrollbar{
    width: 5px;
    background-color: #2ed57400;
  }
  .accordion::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #434343d5;
    border-radius: 5px;
  }
  .accordion a {
    position: relative;
    display: flex;
    padding: 10px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
  }
  .accordion a::after {
    top: 15px;
    content: '\002B';
    position: absolute;
    float: right;
    right:10px;
    font-weight: 300;
    line-height: 17px;
    font-size: 17px;
    color: #ffffff;
    padding: 0px 5.5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 0px;
    border: 1px solid white;
    text-align: center;
    justify-content: center;
    display: flex;
  }
  .accordion a.active::after {
    padding: 0 6px;
    font-size: 17px;
    font-weight: 400;
    content: '\002D';
    color: #ffffff;
  }
  .accordion .content {
    opacity: 0;
    padding: 0 1rem ;
    padding-left: 15%;
    max-height: 0;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
  }
  .accordion .content p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 27px;
    padding: 0;
  }
  .accordion .content.active {
    opacity: 1;
    padding: 1rem;
    padding-left: 15%;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
  }
        /*footer*/

        .map-icon{
            margin: 30px 0;
        }
    .map-icon .fa-brands{
        color: #2ED573;
        padding: 12px;
        font-size: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
        margin-left: 10px;
        width: 60px;
    }
    
    
    .con p{
        font-family: 'Playfair Display';
        color: #ffffff;
        margin-bottom: 80px;
        text-align: left;
        font-size:  60px;
    }
    .con h4{
        padding: 10px 0;
        font-size: 20px;
        color: #ffffff;
        text-align: left;
        font-weight: 400;
    }
    .con{
        background-color: #2F3542;
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
    }
    .copy{
        background-color: #252525;
        color: #ffffff;
        padding: 8px 0;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .copy ul li{
        list-style: none;
        color: #ababab;
    }
@media  (max-width:1007px) {

    /*nav menu*/
    

    .menu ul{
        width:100%;
        background:linear-gradient(#2F3542,#2F3542);
        position:absolute;
        top:67px;
        right:0;
        z-index: 2;
        margin-top: 1px;
    }
    #menuList{
        z-index: 2;
    }
    .menu ul{
        display: block;
        padding: 0;
    }
    .menu ul li{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .menu ul li a{
        color: white;
        z-index: 2;
        font-size: 20px;

    }
    .menu-icon{
        width: 40px;
        display: flex;
    }
    #active-home{
        background-color: #2ED573;
        height: 70px;
    }
    .logo h1{
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 48px;
        color: #2F3542;
    }
    .logo h2{
        font-weight: 600;
        font-size: 15px;
        line-height: 30px;
        align-items: center;
        padding: 10px 10px;
    }
    #menulist{
        overflow:hidden;
        transition:0.5s;
    }
    p{  
        font-size: 15px;
        text-align: left;
        margin-left: 0;
    
    }
    .package{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
        color: #fff;
        position: relative;
        padding: 0 5%;    
    }
   
    ul li{
        padding: 10px;
        font-weight: 600;
        font-size: 15px;
    }
    .package-3 h6{
        width: 100%;
        text-align: center;
        font-size: 40px;
        background-color: #00000017;
        margin-top: -30px;
    }
    h4{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: normal;
        width: 100%;
        padding: 30px 10%;
        margin: 0;
    }
   
    .package-1, .package-2, .package-3, .package-4{
        height: 100%;
        width: 100%;
        
    }
    .container{
        width: 100%;
        background-color: #F1F2F6;
        height: 100%;
        align-items: center;
        justify-content: center;
        z-index: -2;
    }
    button{
        background-color: transparent;
        border: 2px solid #fff;
        padding: 8px;
        display:flex ;
        color: #fff;
        font-weight: 800;
        width: 90%;
        text-align: center;
        align-items:center ;
        justify-content: center;
    }
    button a{
        font-size: 18px;
    } 
    .toy-button{
        margin-top: 677px;
    }
    .toy-one{
        margin-top: 291px;
    }
    .imge h1{
        font-size: 50px;
    }
    .package-3 h6{
        font-size: 20px;
    }
    .title h1{
        line-height: normal;
        font-size: 30px;
    }
    .title p{
        font-size: 15px;
    }
    .accordion a::after {
        top: 15px;
        content: '\002B';
        position: absolute;
        float: right;
        right:10px;
        font-weight: 300;
        line-height: 17px;
        font-size: 17px;
        color: #ffffff;
        padding: 0px 5.5px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 0px;
        border: 1px solid white;
        text-align: center;
        width: 10px;
        justify-content: center;
        display: flex;
      }
      .accordion a.active::after {
        padding: 0 6px;
        font-size: 25px;
        font-weight: 400;
        width: 9px;
        content: '\002D';
        color: #ffffff;
      }
      .head{
        flex-basis: 100%;
        padding-bottom: 30px;
      }
      .p-list{
        flex-basis: 100%;
        padding: 0;
      }
      .pack-1{
        padding: 20px;
        margin: 20px 5%;
      }


      .con{
        display: block;
        padding: 20px 0;
        justify-content: center;
        align-items: center;
        height: 100%;
      }         
    .map{
        width: 100%;
        height: 479px;
    }
    .con p{
        padding-top: 30px;
        text-align: center;
        font-size: 50px;
        margin-bottom: 15px;
    }
    .con h4{
        text-align: center;
    }
    .row-f2{
        margin: 0 5%;

    }
    .map-icon{
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .copy ul li{
        font-size: 10px;
    }
}